@import "tailwindcss";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Global Pixelated Rendering */
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;

  /* New Default Font with fallback */
  font-family: var(--font-dos-vga), var(--font-pixelify), monospace;
  background-color: transparent;
  /* Assuming dark background for portfolio */
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
span {
  font-family: var(--font-dos-vga), var(--font-pixelify), monospace;
}